.header {
    background-color: purple;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100vw;
}

.home-title {
    background-color: purple;
    color: rgb(255, 255, 255);
}

.main-container {
    background: url('../images/hunter-campus.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.link-button {
    padding: 2rem;
    margin: 5rem;
    color: white;
    text-decoration: none;
    background-color: purple;
    border-radius: 10px;
    font-size: 20px;
}

.link-button:active {
    transform: translateY(4px);
    border-radius: 20px;
} 
#instructor-link {
    
}

#course-link {
    
}

.footer {
    background-color: purple;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.home-btn {
    color: white;
    text-decoration: none;
    font-size: 30px;
}