.header {
    background-color: #1d3a83;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100%;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100vw;
}

.home-title {
    background-color: #1d3a83;
    color: rgb(255, 255, 255);
    cursor: default;
}

.main-container {
    background: url('../images/hunter-campus.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.link-button {
    padding: 2rem;
    margin: 5rem;
    color: white;
    text-decoration: none;
    background-color: #1d3a83;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 20px;
}

.link-button:hover {
    border: solid 1px #ffb81c;
}

.link-button:active {
    transform: translateY(4px);
} 

#instructor-link {
    
}

#course-link {
    
}

.footer {
    background-color: #1d3a83;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.home-btn {
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 90px;
    border-radius: 4px;
}

.home-btn:hover {
    background-color: #ffb81c;
    transition: 0.3s;
}